albumentations
argparse
ftfy
grpcio
h5py
huggingface-hub
imageio
joblib
matplotlib
numpy
opencv-python
opencv-python-headless
pandas
pathlib
plotly
psutil
python-dateutil
regex
scikit-image
scikit-learn
scipy
tifffile
tokenizers
torch
torchaudio
torchvision
transformers
